include ../head.pug
body
  .container.mt-5
    h1 #{mode === 'Update' ? 'Edit Recipe' : 'Create New Recipe'}
    .mb-3
      label(for="recipeName" class="form-label") Recipe Name
      input(type="text" class="form-control" id="recipeName" name="recipeName" required)
    .mb-3
      label(for="category" class="form-label") Category
      input(type="text" class="form-control" id="category" name="category" required)
    .mb-3
      label(for="ingredients" class="form-label") Ingredients
      textarea(class="form-control" id="ingredients" name="ingredients" rows="4" required)
    .mb-3
      label(for="steps" class="form-label") Steps
      textarea(class="form-control" id="steps" name="steps" rows="6" required)
    button(type="submit" class="btn btn-success" onclick="submitForm()") #{mode === 'Update' ? 'Update' : 'Add'}
    span &nbsp;
    button(type="submit" class="btn btn-primary" onclick="window.location.href='/'") Back to list

  script.
    if ("#{mode}" === "Update") {
      const recipeData = !{JSON.stringify(recipeData || {})}.recipe;
      document.getElementById('recipeName').value = recipeData.recipeName || '';
      document.getElementById('category').value = recipeData.category || '';
      document.getElementById('ingredients').value = recipeData.ingredients || '';
      document.getElementById('steps').value = recipeData.steps || '';
    }

    function submitForm() {
      const recipeData = {
        recipeName: document.getElementById('recipeName').value,
        category: document.getElementById('category').value,
        ingredients: document.getElementById('ingredients').value,
        steps: document.getElementById('steps').value,
      };

      const url = "#{mode}" === "Update" ? `/api/recipe/${!{JSON.stringify(recipeData || {})}.id}` : '/api/recipe';
      const method = "#{mode}" === "Update" ? 'put' : 'post';

      axios[method](url, recipeData).then(response => {
        alert('Success!');
        location.href = '/'
      })
      .catch(error => {
        if(error.response)
          alert(JSON.stringify(error.response.data.errors))
        else
          alert(error)
      });
    }