include ../head.pug

body
  .container.mt-5
    .row.d-flex.align-items-center
      .col-md-6
        h1 List
      .col-md-6.text-end
        a.btn.btn-success(href='/add', role='button') Add
    table.table.table-responsive.table-hover.table-striped.table-dark
      thead
        tr
          th(scope="col") ID
          th(scope="col") Recipe Name
          th(scope="col") Category
          th(scope="col") Steps
          th(scope="col") Actions
      tbody
      // JavaScript code
  script.
    document.addEventListener('DOMContentLoaded', function() {
      axios.get('/api/recipe').then(function(response) {
        const recipes = response.data;
        const tableBody = document.querySelector('table tbody');
        recipes.forEach(recipe => {
          const row = document.createElement('tr');
          row.innerHTML = `
            <td>${recipe.id}</td>
            <td>${recipe.recipe.recipeName}</td>
            <td>${recipe.recipe.category}</td>
            <td>${recipe.recipe.steps}</td>
            <td>
              <button class="btn btn-primary btn-sm" data-id="${recipe.id}" onclick="window.location.href='/update/${recipe.id}'">Update</button>
              <button class="btn btn-danger btn-sm" data-id="${recipe.id}" onclick="deleteRecipe(this)">Delete</button>
            </td>
          `;
          tableBody.appendChild(row);
        });
      })
      .catch(function(error) {
        console.log(error);
      });
    });

    function deleteRecipe(recipe) {
      const recipeId = recipe.getAttribute('data-id');
      axios.delete(`/api/recipe/${recipeId}`).then(function(response) {
        alert('Deleted successfully', response);
        location.href = '/';
      })
      .catch(function(error) {
        alert('Error deleting recipe: ' + error);
      });
    }